[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chaos-agents"]
	path = lib/chaos-agents
	url = https://github.com/ChaosLabsInc/chaos-agents

[submodule "lib/aave-capo"]
	path = lib/aave-capo
	url = https://github.com/bgd-labs/aave-capo
[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/bgd-labs/aave-helpers
