[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chaos-agents"]
	path = lib/chaos-agents
	url = https://github.com/ChaosLabsInc/chaos-agents

